<div class="top-container">
    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Parul Bhatia</p>
                <p class="job-id">Applied For: <span class="job-applied">UI Designer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Worked with client's to change their idea into a real time application design.</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Goerge Bush</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Wireframing, Figma</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Sketch, Typography</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2023/01/10</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/hiring1.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Saumya Singh - <span>5610</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Halle Hoeger</p>
                <p class="job-id">Applied For: <span class="job-applied">Senior Frontend Engineer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Built dynamic and responsive website, also worked with D3 js</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Not Applicable</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Javascript, Reactjs</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Nodejs, MongoDB</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2023/01/19</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image8.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Martin Zulauf - <span>3671</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Garett Stanford</p>
                <p class="job-id">Applied For: <span class="job-applied"> Junior Backend Engineer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Have experience of building restful api's and maintaining the data flow</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Luis Vitton</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">MongoDB, SQL</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Javascript, Typescript</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2022/10/10</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image5.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Lessie Mohr - <span>7612</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Tristina Spinka</p>
                <p class="job-id">Applied For: <span class="job-applied">Cyber Security Engineer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Worked with different client's to achieve the robust security around application</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Tine George</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Cloud Security, Blockchain</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Artificial Intelligence, IoT</span>
            </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2022/09/06</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image1.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Emilia Clarke - <span>3109</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Martin Zulauf</p>
                <p class="job-id">Applied For: <span class="job-applied">Azure Developer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Experience in building and designing cloud solutions and architectures.</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Not Applicable</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Scaling, User roles</span>
            </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">c#, .NET, Java</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2022/11/29</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/hiring1.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Isabella Denger - <span>4418</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Shrikanth Kulkarni</p>
                <p class="job-id">Applied For: <span class="job-applied">UI Designer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Worked with client's to change their idea into a real time application design.</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Not Applicable</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Wireframing, Figma</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Sketch, Typography</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">12</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2023/01/10</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image8.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Saumya Singh - <span>5610</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Parul Bhatia</p>
                <p class="job-id">Applied For: <span class="job-applied">UI Designer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Worked with client's to change their idea into a real time application design.</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Goerge Bush</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Wireframing, Figma</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Sketch, Typography</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2023/01/10</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/hiring1.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Saumya Singh - <span>5610</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Halle Hoeger</p>
                <p class="job-id">Applied For: <span class="job-applied">Senior Frontend Engineer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Built dynamic and responsive website, also worked with D3 js</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Not Applicable</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Javascript, Reactjs</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Nodejs, MongoDB</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2023/01/19</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image8.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Martin Zulauf - <span>3671</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Garett Stanford</p>
                <p class="job-id">Applied For: <span class="job-applied"> Junior Backend Engineer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Have experience of building restful api's and maintaining the data flow</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Luis Vitton</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">MongoDB, SQL</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Javascript, Typescript</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2022/10/10</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image5.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Lessie Mohr - <span>7612</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Tristina Spinka</p>
                <p class="job-id">Applied For: <span class="job-applied">Cyber Security Engineer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Worked with different client's to achieve the robust security around application</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Tine George</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Cloud Security, Blockchain</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Artificial Intelligence, IoT</span>
            </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2022/09/06</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image1.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Emilia Clarke - <span>3109</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Martin Zulauf</p>
                <p class="job-id">Applied For: <span class="job-applied">Azure Developer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Experience in building and designing cloud solutions and architectures.</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Not Applicable</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Scaling, User roles</span>
            </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">c#, .NET, Java</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">8</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2022/11/29</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/hiring1.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Isabella Denger - <span>4418</span></p>
            </div>
        </div>
    </div>

    <div class="card-container" routerLink="/workflow">
        <div class="top-card">
            <div class="card-title">
                <p class="title">Shrikanth Kulkarni</p>
                <p class="job-id">Applied For: <span class="job-applied">UI Designer</span></p>
            </div>
        </div>
        <div class="summary">
            <p class="summary-text">Worked with client's to change their idea into a real time application design.</p>
        </div>
        <div class="applied">
            <p class="recommend">Direction(if any): <span class="recommend-any">Not Applicable</span></p>
        </div>
        <div class="primary-info">
            <p class="primary-head">Primary Skills: <span class="primary-skill">Wireframing, Figma</span> </p>
            <p class="primary-head">Secondary Skills: <span class="primary-skill">Sketch, Typography</span> </p>
        </div>
        <div class="experience">
            <div class="left-exp">
                <p class="total-exp">Experience(yrs): <span class="total">12</span></p>
            </div>
            <div class="right-exp">
                <p class="created">Created: <span class="create-date">2023/01/10</span></p>
            </div>
        </div>
        <div class="hiring-details">
            <div class="profile">
                <img src="../../assets/image8.jpg" alt="user-profile" class="profile-image">
            </div>
            <div class="hiring">
                <p class="top-hiring">Hiring Manager</p>
                <p class="down-hiring">Saumya Singh - <span>5610</span></p>
            </div>
        </div>
    </div>
</div>